.catalog {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: $gap-ver $gap-hor;
  padding: 0 $catalogPadding;

  @media (min-width: catalogWidth($card-width, $gap-hor)) {
    grid-template-columns: repeat($card-caunt, $card-width);
  }
}
