.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: $header-height;
  background: $page-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    display: flex;
    align-self: center;

    @include logo-size ($logo-size);
  }
}
